<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Office of Digital Excellence </h2>
        <p class="lead">seeks to employ modern technologies to make government more efficient, accessible, and transparent for Rhode Islanders. </p>
        <p> The Office of Digital Excellence was established in the <a href="http://webserver.rilin.state.ri.us/Statutes/TITLE42/42-11/42-11-2.6.HTM" >2012 Rhode Island Legislative Session</a>.  This is a placeholder site for some potential upcoming projects (some Open Source, some internal) the Office of Digital Excellence may be working on. We might even blog. We might even build out ode.ri.gov. If so, we'll talk about it here first. Please excuse the informality right at the start.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
